@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@theme {
  --icon: var(--spark-icon);
  --color-surface: var(--color-bg-surface);
  --color-background: var(--color-bg-primary);
  --color-card: var(--color-bg-card);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-button: var(--color-button);
  --color-button-hover: var(--color-button-hover);
  --color-border: var(--color-border);
  --font-display: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;
}

:root {
  font-family: var(--font-body);
  line-height: 1.5;
  font-weight: 400;
  color: #777;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --spark-icon: "/spark.png";
  --toastify-color-info: #2b7fff;
  --toastify-color-success: #18cb96;

  --color-bg-primary: #f3f4f6;
  --color-bg-surface: #ffffff;
  --color-bg-card: #ffffff;
  --color-text-primary: #1f2937;
  --color-text-secondary: #4a5565;
  --color-button: #2b7fff;
  --color-button-hover: #155dfc;
  --color-border: #e5e7eb;
}

[data-theme="dark"] {
  --spark-icon: "public/spark-dark.png";
  --color-bg-primary: #1d1d1d;
  --color-bg-surface: #2d2d2d;
  --color-bg-card: #3f4247;
  --color-text-primary: #f9fafb;
  --color-text-secondary: #bfbfbf;
  --color-button: #00a63e;
  --color-button-hover: #00912f;
  --color-border: #374151;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-bg-primary);
}

body {
  font-family: "Poppins", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
